<h1>All Plugins</h1>
<section class="row">
  {{#each plugins}}
    <div class="card">
      <img src={{this.picUrl}} alt="placeholder">
      <h2> <a class="card-title" href="/plugins/{{this._id}}">{{this.name}}</a> </h2>
      <h3>{{this.price}}</h3>
      <div class="card-description">
        <p>{{this.description}}</p>
      </div>
      <div class="card-btn"> <i class="fas fa-chevron-down"></i> </div>
    </div>

  {{/each}}
</section>
