<form class="search-form" action="/search">
  <input type="text" name="query" placeholder="Enter a search query">
  <button type="submit" name="button">Search</button>
</form>

<section class="row">
  {{#each plugins}}
    <div class="card">
      <img src={{this.picUrl}} alt="placeholder">
      <h2> <a class="card-title" href="/plugins/{{this._id}}">{{this.name}}</a> </h2>
      <h3>{{this.price}}</h3>
      <div class="card-description">
        <p>{{this.description}}</p>
      </div>
      <div class="card-btn"> <i class="fas fa-chevron-down"></i> </div>
    </div>

  {{/each}}
</section>
